.feedContainer::-webkit-scrollbar {
  display: none;
}

.feedContainer {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.myPostContainer::-webkit-scrollbar {
  display: none;
}

.myPostContainer {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.pinnedContainer::-webkit-scrollbar {
  display: none;
}

.pinnedContainer {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.draftContainer::-webkit-scrollbar {
  display: none;
}

.draftContainer {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.feedTab {
  .ant-tabs-nav-list {
    width: 100%;
  }
  .ant-tabs-tab {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6d6d6d;
  }
}

.feedLoader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
.feedLoader::after {
  content: '';
  width: 192px;
  height: 4.8px;
  background: #FF6D00;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
    